$blue: #4b4bff;
$orange: #ffc34a;
$green: #36da7a;
$hoverGreen: #05da5e;
$red:#ff5858;
$hoverRed:#fd3333;
$text:#727272;
$extraLarge:5rem;
$large:3rem;
$medium:1.2rem;
$small:1rem;


body {
	font-family: 'lexend', sans-serif;
	/* background: #2c3e50; */
	margin:0px;
	padding:0px;
}

nav{
	position: fixed;
	margin:10px 0px;
	left:50%;
	transform:translate(-50%);
	width: 750px;
	background: white;
    // color:white;
	border-radius: 8px;
	font-size: 0;
    z-index: 1;
	box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.329);
    a{
        font-size: 1rem;
        font-weight: 600;
        text-transform: uppercase;
        color: black;
        text-decoration: none;
        line-height: 50px;
        position: relative;
        z-index: 2;
        display: inline-block;
        text-align: center;
        width:150px
        /* transform: translate(0%, -100%); */
    }
    .animation{
        position: absolute;
        height: 10%;
        top: 90%;
        left:0px;;
        color:white;
        width:750px;
        z-index: 0;
        border-radius: 8px;
        transition: all 250ms ease 0s;
        background: $red;
    }
    a:nth-child(1):hover ~.animation{
        left:0px;
        width:150px
    }
    a:nth-child(2):hover ~.animation{
        left:150px;
        width:150px
    }
    a:nth-child(3):hover ~.animation{
        left:300px;
        width:150px
    }
    a:nth-child(4):hover ~.animation{
        left:450px;
        width:150px
    }
    a:nth-child(5):hover ~.animation{
        left:600px;
        width:150px
    }
}

.container{
    width:80vw;
    margin:auto;
}

#home{
    margin: auto;
    padding:10rem 0px 10rem 0px;
    text-align: center;
    width: 100%;
    // background-color:#f7f7f7;
    border-bottom-left-radius:50px;
    border-bottom-right-radius:50px;
    h1{
        font-size: $extraLarge;
        font-family: 'Dancing Script', cursive;
        text-transform: capitalize;
        margin: 0.5rem;
    }
    h3{
        font-size: $small;
        text-transform: capitalize;
        font-weight: 400;
        margin: 0.5rem;
    }
    button{
        border: 1px solid #444444;
        background:#444444;
        font-size:1.8rem;
        padding:0.5rem 1rem;
        margin-top:2rem;
        border-radius:4px;
        color:white;
        cursor: pointer;
        transition: 250ms;
        &:hover{
            border: 1px solid #303030;
            background:#303030;
        } 
    }
}
#upWork{
    padding:4rem 0rem;
    .upWorkTItle{
        text-align: center;
        h1{
            font-size:$large;
            text-transform: capitalize;
            margin: 0px;
        }
        h1:nth-child(2){
            font-size:$large;
            text-transform: capitalize;
            margin: 0px;
            color:$orange;
        }
    }
    .upWorkAlign{
        padding-top: 2rem;
        display: flex;
        justify-content:space-around;
        flex-wrap: wrap;
        .img{
            width:37rem;
            text-align: center;
            h1{
                font-size: $large;
                margin: 0px;
            }
        }
        .text{
            width:37rem;
            .points{
                display:flex;
                border-bottom: 2px solid rgb(173, 173, 173);
                padding:1rem 0rem;
                .number{
                    width:4rem;
                    font-size: $large;
                    color:$red;
                }
                .discription{
                    padding:0rem 1rem;
                    line-height: 1.6rem;
                    width:38rem;
                    color:$text;
                    font-size: $medium;
                }
            }
        }

    }
}
#gitHub{
    padding:4rem 0rem;
    .gitHubTitle{
        text-align: center;
        h1{
            font-size:$large;
            text-transform: capitalize;
            margin: 0px;
        }
        h1:nth-child(2){
            font-size:$large;
            text-transform: capitalize;
            margin: 0px;
            color:$red;
        }
    }
    .gitHubAlign{
        display: flex;
        padding-top: 2rem;
        justify-content:space-around;
        flex-wrap: wrap;
        .gitHubText{
            // order: 2;
            width:37rem;
            padding-top:$medium;
            flex-direction: column;
            h1{
                font-size:$large;
                text-transform: capitalize;
                margin: 0px;
            }
            h3{
                color:$text;
                font-weight: 400;
                font-size: $medium;
            }
            div{
                text-align: center;
                button{
                    border: 1px solid #444444;
                    background:#444444;
                    font-size:1.8rem;
                    padding:0.5rem 1rem;
                    margin-top:2rem;
                    border-radius:4px;
                    color:white;
                    cursor: pointer;
                    transition: 250ms;
                    &:hover{
                        border: 1px solid #303030;
                        background:#303030;
                    } 
                }

            }
            
        }
        .gitHubImg{
            // order: 1;
            width:37rem;
            img{
                width:100%
            }
        }
    }
}

div{
    // border:1px solid red;
}
section{
    // border:1px solid green;
}
h1,h2,h3,h3,h5,h6,p{
    // border:1px solid blue;
}

@media only screen and (max-width: 600px) {
    .container{
        width:50vw;
    }
  }