$blue: #4b4bff;
$orange: #e0501b;
$green: #36da7a;
$hoverGreen: #05da5e;
$red:#ff5858;
$hoverRed:#fd3333;
$text:#727272;

body {
	font-family: 'lexend', sans-serif;
	/* background: #2c3e50; */
	margin:0px;
	padding:0px;
}

nav{
	position: fixed;
	margin:10px 0px;
	left:50%;
	transform:translate(-50%);
	width: 750px;
	background: white;
    // color:white;
	border-radius: 8px;
	font-size: 0;
    z-index: 1;
	box-shadow: 0 2px 30px 0 rgba(0, 0, 0, 0.329);
    a{
        font-size: 1rem;
        font-weight: 600;
        text-transform: uppercase;
        color: black;
        text-decoration: none;
        line-height: 50px;
        position: relative;
        z-index: 2;
        display: inline-block;
        text-align: center;
        width:150px
        /* transform: translate(0%, -100%); */
    }
    .animation{
        position: absolute;
        height: 10%;
        top: 0%;
        left:0px;;
        color:white;
        width:747px;
        z-index: 0;
        border-radius: 8px;
        transition: all 250ms ease 0s;
        background: $red;
    }
    a:nth-child(1):hover ~.animation{
        left:0px;
        width:150px
    }
    a:nth-child(2):hover ~.animation{
        left:150px;
        width:150px
    }
    a:nth-child(3):hover ~.animation{
        left:300px;
        width:150px
    }
    a:nth-child(4):hover ~.animation{
        left:450px;
        width:150px
    }
    a:nth-child(5):hover ~.animation{
        left:600px;
        width:150px
    }
}
.container{
    width:90vw;
    margin:auto;
}
#home{
    margin: auto;
    padding:6rem 0px 8rem 0px;
    text-align: center;
    height: 80vh;
    width: 100%;
    background-image: url(../img/todoist.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    h1{
        font-size: 3rem;
        text-transform: capitalize;
        margin: 0.5rem;
    }
    button{
        border: 1px solid #444444;
        background:#444444;
        font-size:1.8rem;
        padding:0.5rem 1rem;
        border-radius:8px;
        color:white;
        cursor: pointer;
        // transition: 250ms;
        &:hover{
            border: 1px solid $hoverGreen;
            background:$hoverGreen;
        }
    }
    img{
        width:100%;
    }
}
#gitHub{
    .title{
        text-align: center;
        h1{
            font-size:3rem;
            text-transform: capitalize;
            margin: 0px;
        }
        p{
            color:$text;
            font-weight: 400;
        }

    }
    .gitHubAlign{
        display: flex;
        justify-content:space-around;
        flex-wrap: wrap;
        .gitHubText{
            // order: 2;
            width:42rem;
            padding-top:2rem;
            flex-direction: column;
            h1{
                font-size: 2.8rem;
                span{
                    font-size: 2.5rem;
                    color: $red;
                }
                margin-bottom: 0px;
            }
            h3{
                color:$text;
                font-weight: 400;
            }
            div{
                text-align: center;
                button{
                    border: 1px solid #444444;
                    background:#444444;
                    font-size:1.8rem;
                    padding:0.5rem 1rem;
                    border-radius:8px;
                    color:white;
                    cursor: pointer;
                    transition: 250ms;
                    &:hover{
                        border: 1px solid $hoverRed;
                        background:$hoverRed;
                    } 
                }

            }
            
        }
        .gitHubImg{
            // order: 1;
            width:42rem;
            img{
                width:100%
            }
        }
    }
}

div{
    // border:1px solid red;
}
section{
    // border:1px solid green;
}
h1,h2,h3,h3,h5,h6,p{
    // border:1px solid blue;
}