$blue: #4b4bff;
$orange: #ffc34a;
$green: #31c06d;
$hoverGreen: #1eb35c;
$red: #ff5858;
$hoverRed: #fd3333;
$text: #6e6e6e;
$extraLarge: 5rem;
$large: 2rem;
$medium: 1.5rem;
$small: 1rem;

::selection {
  color:black;
  background-color: rgb(207, 255, 198);
  text-decoration: underline;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(189, 189, 189);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: grey;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $text;
}
html{
  scroll-behavior: smooth;
}
body {
  font-family: "lexend", sans-serif;
  background: #f0f3fa;  
  margin: 0px;
  padding: 0px;
}


nav {
  position: fixed;
  margin: 10px 0px;
  left: 50%;
  transform: translate(-50%);
  width: 750px;
  background: white;
  // color:white;
  border-radius: 8px;
  font-size: 0;
  z-index: 1;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.329);
  a {
    font-size: $small;
    font-weight: 600;
    text-transform: uppercase;
    color: black;
    text-decoration: none;
    line-height: 50px;
    position: relative;
    z-index: 2;
    display: inline-block;
    text-align: center;
    width: 150px;
    /* transform: translate(0%, -100%); */
  }
  .animation {
    position: absolute;
    height: 8%;
    top: 92%;
    left: 0px;
    color: white;
    width: 750px;
    z-index: 0;
    border-radius: 8px;
    transition: all 250ms ease 0s;
    background: rgb(68, 68, 68);
  }
  a:nth-child(1):hover ~ .animation {
    left: 0px;
    width: 150px;
  }
  a:nth-child(2):hover ~ .animation {
    left: 150px;
    width: 150px;
  }
  a:nth-child(3):hover ~ .animation {
    left: 300px;
    width: 150px;
  }
  a:nth-child(4):hover ~ .animation {
    left: 450px;
    width: 150px;
  }
  a:nth-child(5):hover ~ .animation {
    left: 600px;
    width: 150px;
  }
}
.wrapper,.mobilewrapper{
  display: none;
  position: absolute;
  top: 6%;
  right: 1%;
  transform: translate(-50%,-50%);
  z-index: 1;
  div{
    height: 6px;
    width: 40px;
    background-color:black;
    transition: all 0.5s ease;
    margin: 0.3rem;
  }
}

.mobileNavbar{
  background-color: #f6f7fb;
  position: absolute;
  top:0%;
  left:0%;
  width:100vw;
  height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction:column;
  display: none;
  a{
    font-size: $small;
    font-weight: 600;
    text-transform: uppercase;
    color: $red;
    text-decoration: none;
    line-height: 50px;
    display: inline-block;
    text-align: center;
    width: 150px;
  }
}

.container {
  // width: 100%;
  max-width:1200px;
  margin: auto;
}

#home {
  margin: auto;
  padding: 8rem 0px 8rem 0px;
  text-align: center;
  width: 100%;
  h1 {
    font-size: $extraLarge;
    font-family: "Dancing Script", cursive;
    font-family: 'PT Serif', serif;
    font-family: serif;
    text-transform: capitalize;
    margin: 0.5rem;
    padding: 0rem 1rem;
    animation-name: homeText;
    animation-timing-function: cubic-bezier();
    animation-duration: 1000ms;
    @keyframes homeText{
      0%{
        opacity: 0;
      }
      100%{
        opacity: 100%;
      } 
    }
  }
  h3 {
    line-height: 1.5rem;
    font-size: $small;
    text-transform: capitalize;
    font-weight: 400;
    margin: 0px;
    color: $text;
    padding: 0rem 1rem;
    animation-name: homeText;
    animation-timing-function: cubic-bezier();
    animation-duration: 1500ms;
  }
  button {
    border: 1px solid $green;
    background: $green;
    font-size: $medium;
    padding: 0.5rem 1rem;
    margin-top: 2rem;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    transition: 250ms;
    &:hover {
      border: 1px solid $hoverGreen;
      background: $hoverGreen;
    }
  }
}
#upWork {
  
  padding: 0rem 0rem 5rem 0rem;
  .upWorkTItle {
    text-align: center;
    h1 {
      font-size: $large;
      margin: 0px;
      padding: 0rem 1rem;
    }
    h1:nth-child(2) {
      font-size: $large;
      text-transform: capitalize;
      margin: 0px;
      color: $red;
    }
  }
  .upWorkAlign {
    padding-top: 5rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .img {
      width: 36rem;
      // flex: 1;
      text-align: center;
      img {
        width: 82%;
      }
    }
    .text {
      width: 36rem;
      // flex: 1;
      .points {
        display: flex;
        border-bottom: 2px solid rgb(228, 228, 228);
        padding: 2rem 0rem;
        .number {
          width: 4rem;
          font-size: $large;
          color: $red;
        }
        .discription {
          padding: 0rem 1rem;
          line-height: 1.6rem;
          // width:38rem;
          color: $text;
          font-size: $small;
        }
      }
    }
  }
}

#skills {
  padding: 0rem 0rem;
  .skillTitle {
    text-align: center;
    h1 {
      font-size: $large;
      margin: 0px;
    }
    h1:nth-child(2) {
      font-size: $large;
      text-transform: capitalize;
      margin: 0px;
      color: $red;
    }
  }
  .skillTiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5rem 0rem;
    .desktopView {
      width: 11rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0.5rem;
      div {
        margin-top: 1rem;
        box-shadow: 0 0px 20px 0 rgb(228, 230, 238);
        padding: 0.5rem 0rem;
        background-color: #fff;
        border-radius: 16px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height:110px;
        img {
          width: 45%;
          height: auto;
        }
        h3 {
          margin: 0px;
          font-weight: 400;
          color:$text;
          font-size: $small;
        }
      }
      .react{
        img{
          animation:rotate 10s infinite linear;
          @keyframes rotate {
            0% {
              transform: rotate(0deg);
            }
            100% {
              transform: rotate(360deg);
            }
          }
        }
      }
      
    }
    .mobileView{
      display:none;
    }
  }
}


#gitHub {
  padding: 0rem 0rem 0rem 0rem;
  .gitHubTitle {
    text-align: center;
    h1 {
      font-size: $large;
      margin: 0px;
    }
    h1:nth-child(2) {
      font-size: $large;
      text-transform: capitalize;
      margin: 0px;
      color: $red;
    }
  }
  .gitHubAlign {
    display: flex;
    padding-top: 5rem;
    justify-content: center;
    flex-wrap: wrap;
    .gitHubText {
      // order: 2;
      width: 36rem;
      padding-bottom: 3rem;
      flex-direction: column;
      text-align: center;
      h1{

        margin: 6rem 0rem 0rem 0rem;
      }
      h3 {
        color: $text;
        font-weight: 400;
        font-size: $small;
      }
      div {
        .upwork {
          position: relative;
          border: 1px solid $green;
          background: $green;
          font-size: $medium;
          padding: 0.5rem 1rem;
          border-radius: 4px;
          color: white;
          cursor: pointer;
          transition: 250ms;
          margin:1rem 0rem 4rem;
          &:hover {
            border: 1px solid $hoverGreen;
            background: $hoverGreen;
          }
        }
      }
      .socialMedia{
        display: flex;
        justify-content: center;
        padding: 3rem 0rem;
        .social{
          cursor: pointer;
          box-shadow: 0px 0px 10px rgb(216, 216, 216);
          position: relative;
          margin:1.5rem;
          width: 2rem;
          height: 2rem;
          font-size: $medium;
          background-color: white;
          border-radius: 50%;
          padding: 0.5rem;
          transition:100ms;
          border: 1px solid rgb(184, 184, 184);
          img{
            width: 90%;
          }
          .dataEmail{
            font-size: $small;
            top: 50%;
            right: 50%;
            transform: translate(50%,-240%);
            padding: 0.4rem 0.8rem;
            border-radius: 10px;
            position: absolute;
            background-color: rgb(223, 3, 3);
            color:white;
            display: block;
            &:before{
              content:"";
              position:absolute;
              width:10px;
              height: 10px;
              top: auto;
              bottom:-5px;
              left: 50%;
              transform: translate(-50%,0%) rotate(-45deg);
              background-color: rgb(223, 3, 3);
              color:white;
              display: block;
            }
          }
          .dataInstagram,.dataGithub{
            font-size: $small;
            top: 50%;
            right: 50%;
            transform: translate(50%,140%);
            padding: 0.4rem 0.8rem;
            border-radius: 10px;
            position: absolute;
            &:before{
              content:"";
              position:absolute;
              width:10px;
              height: 10px;
              top: -5px;
              left: 50%;
              transform: translate(-50%,0%) rotate(-45deg);
            }
          }
        }
          .dataGithub,.dataGithub::before {
            background-color: rgb(63, 63, 63);
            color: white;
            display: block;
          }
          .dataInstagram,.dataInstagram::before {
            background-color: rgb(248, 48, 108);
            color:white;
            display: block;

          }

      }
    }
    .gitHubImg {
      // order: 1;
      width: 36rem;
      display: flex;
      justify-content: center;
      img {
        
        width: 80%;
        height: auto;
      }
    }
  }
}

#footer{
  background-color: rgb(63, 63, 63);
  border-radius: 20px;
  margin: 4rem 1rem 1rem 1rem;
  .footerDiv{
    padding:2rem 0rem;
    display: flex;
    justify-content: center;
    text-align:center;
    color: white;
}
}

div {
  // border:1px solid red; 
}
section {
  // border:1px solid green;
}
h1,h2,h3,h3,h5,h6,p {
  // border:1px solid blue;
}
@media only screen and (max-width: 995px  ) {
  #skills {
    padding: 0rem 0rem;
    .skillTitle {
      text-align: center;
      h1 {
        font-size: $large;
        margin: 0px;
      }
      h1:nth-child(2) {
        font-size: $large;
        text-transform: capitalize;
        margin: 0px;
        color: $red;
      }
    }
    .skillTiles {
      .desktopView {
        display:none;
      }
      .mobileView{
        display: flex;
        flex-direction: column;
        align-items: center;
        .small{
          width: 180px;
          height: 60px;
          border-radius: 13px;
        }
        .medium{
          width: 260px;
          height: 80px;
          border-radius: 11px;
        }
        .large{
          width: 320px;
          height: 100px;
          border-radius: 9px;
          img{
            animation:rotate 10s infinite linear;
          }
        }
        @keyframes rotate {
          0% {
            transform: rotate(0deg);
          }
          100% {
            transform: rotate(360deg);
          }
        }
        div {
          margin-top: 1rem;
          box-shadow: 0 0px 20px 0 rgb(228, 230, 238);
          padding: 0.2rem 0rem;
          background-color: #fff;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          img {
            width: 30%;
            height: auto;
            // border:1px solid green;
          }
          h3 {
            margin: 0.5rem;
            font-weight: 400;
            color:$text;
            font-size: $small;
          }
        }
      }
    }
  }
  #gitHub{
    .gitHubAlign{
      .gitHubText{
        .socialMedia{
          .social{
            .dataEmail{
              font-size: $small;
              top: 50%;
              right: 50%;
              transform: translate(50%,-220%);
              &:before{
                top: auto;
                bottom:-5px;
                left: 50%;
                transform: translate(-50%,0%) rotate(-45deg);
              }
            }
            
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 768px) {
  .wrapper{
    display: block;
  }
  #home{
    h1{
      font-size: 4rem;
    }
    h3:nth-child(2){
      display: none;
    }
  }
    #upWork .upWorkAlign .img {
        width: 87vw;
    }
    #upWork .upWorkAlign .text {
        width: 87vw;
    }
    #gitHub .gitHubAlign .gitHubText {
        width: 87vw;
    }
    #gitHub .gitHubAlign .gitHubImg {
        width: 87vw;
    }
    nav{
      display: none ;
    }
    
}
@media only screen and (max-width: 465px) {
  #home{
    h1{
      font-size: 3rem;
    }
  }
}
